.form-select,
.form-select:focus {
    background: rgb(226, 226, 226);
}

.card label {
    font-weight: bold;
    color: rgb(99, 99, 99);
}

.card-list-quiz {
    height: 90vh;
}

/* .table-list-candidate{
    width: 100%;
}
.table-list-candidate tr {
    border-bottom: 1px solid rgb(189, 189, 189);
} */

